{% extends 'base.html' %}

{% block title %} Candidato '{{vaga.title}}'{% endblock %}

{% block content %}
  <table class="offset-1 col-10 vaga-list">
          <thead>
              <tr>
                  <th>Candidado</th>
                  <th>Pretensão Salarial</th>
                  <th>Experiencia</th>
                  <th>Escolaridade</th>
              </tr>
                  </thead>
                      <tbody>
                          {% for candidato in candidatos_list %}
                              <tr>
                                  <td>{{ candidato.nome }}</td>
                                  <td>{{ candidato.pretencaoSalarial }}</td>
                                  <td>{{ candidato.experiencia }}</td>
                                  <td>{{ candidato.escolaridade }}</td>
                              </tr>
                          {% endfor %}
                      </tbody>
  </table>
    {% else %}
        <p>Nenhum candidato inscrito.</p>
    {% endif %}
{% endblock %}