{% extends 'base.html' %}

{% block title %} Lista de vagas {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
   <h1>Lista de Vagas</h1>
    <a id="add-vaga-link" href="vagas/newvaga/">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar vaga
        </div>
    </a>
    <div class="col-9 search-div">
        <form method="get" id="search-form">
            <input class="form-control" type="text" id="search" name="search" placeholder="digite o nome da vaga para buscar" value="{{request.GET.search}}">
            <i class="fas fa-search" id="search-btn"></i>

        </form>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul class="vaga-list">
        {% for vaga in vagas %}
        <li class="vaga-item">
            <span><a href="vagas/{{vaga.id}}">{{vaga.title}}</a></span>
            {% if user.groups.all.0.name == "empresa" %}
                <span><a href="vagas/deletevaga/{{vaga.id}}"><i class="fas fa-trash"></i></a></span>
                <span><a href="vagas/editvaga/{{vaga.id}}"><i class="fas fa-edit"></i></a></span>
            {% endif %}
            {% if user.groups.all.0.name == "candidato" %}
                <span><a href="#"><i class="fas fa-check"></i></a></span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if vagas.has_previous %}
                <a href="vagas/?page={{ vagas.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            {% if vagas.paginator.num_pages %}
            <span class="current">
                {{ vagas.number }} de {{ vagas.paginator.num_pages }}
            </span>
            {% endif %}

            {% if vagas.has_next %}
                <a href="vagas/?page={{ vagas.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}